 
body {
    display: flex;
    justify-content: center;
}
.back{
    position: sticky;
    top: 3%;
}
button {
    font-size: 1.1rem;
    color:red;
    width: 120px;
    height:35px;
    font-weight: 500;
    margin-left: 30px;
    border: 2px solid black;
    background: white;
    border-radius: 10px;
    font-weight: 600;
    
}

.staffedcabbage {
    background: rgb(245, 215, 245);
    padding: 1px;
    max-width: 1000px;
    border: 1px solid black;
   
}

h1 {
    color: rgb(4, 165, 4);
    font-size: 5vw;
    text-align: center;
    padding: 20px;
    margin: 20px;
    text-shadow: 1px -1px 3px black ;
}
h3 {
    color: red;
    font-size: 30px;
    text-shadow: 1px -1px 2px black;
    margin-left: 20px;
}
h4 {
    margin-left: 30px;
}
.images{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin: 20px;
    border: 2px solid rgb(9, 35, 35);
    background-image: url('./images/bacgroundflower1.jpg');
    background-size:cover;
    background-position: top;
    object-fit: scale-down;
}


.img-set{
    display: block;
    padding: 5px;
    margin: 15px;
    border-radius: 10px;
    width: fit-content;
    background: rgba(0, 0, 0, 0.357);
}
img{ 
    margin: 5px;
    border: 1px solid rgb(4, 165, 4);
    width: 19vw;
    height: auto;
    min-width: 100px;
}
p{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.1rem;
    padding: 5px;
    text-align: justify;
}
p::first-letter{
    font-size: 3rem;
    color: darkorange;
    text-shadow: 1px 1px 4px black;
}
li{
    margin-left: 1px;
    margin-right: 10px;
    font-size: 18px;
    padding: 3px;
}

ul, ol{
    margin-left: 30px;
    margin-right: 20px;
    border-radius: 15px;
    border: 2px solid black;
    background: rgb(174, 243, 185);
    padding-left: 30px;
    min-width: 360px;
    height: auto;
}
ol {
    margin-left: 30px;
    background: rgb(243, 243, 182);
}
footer{
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    background: rgb(53, 36, 65);
    color: aliceblue;
}
