
body{
    display: flex;
    justify-content: center;
}

.recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to left,#c6b7b7b0, #ffffff, #eac9c9f1, white, rgba(236, 207, 207, 0.885));
    margin: 15px;
    max-width: 90%;
    border: 3px solid black;
    border-radius: 20px;
}

h1 {color: rgb(238, 22, 7);
    font-size: 8vw;
    font-weight: 900;
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma;
    background-color: rgb(125, 229, 238);
    background-image: linear-gradient(to right, rgba(240, 56, 56, 0.864), rgba(63, 63, 210, 0.944));
    border: 2px solid rgb(46, 177, 74);
    padding: 10px;
    margin: 40px;
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 3 auto;
    text-shadow: 6px 6px 4px black;
    box-shadow: 6px -6px 4px rgb(96, 85, 85);
}
.content {
    background: rgb(244, 244, 143);
    margin: 20px;
    display: flex;
    justify-content: center;
    padding: 5px;
    box-shadow: 8px -8px 8px rgb(66, 62, 62);
    border-radius: 20px;
    border-style: double;
    width: 90%;
    flex: 0 2 auto;
}
img{
    border: 2px solid red;
    margin: 8px;
    width: 15vw;
    height: auto;
    border-radius: 10px;
    box-shadow: 8px -8px 8px black;
    flex: auto;
}
p {
    background: linear-gradient(to right, #8af89d, #ffffff, #72fe89);
    color: rgb(193, 17, 17);
    font-size: 22px;
    font-weight: 800;
    border: 3px solid rgb(34, 128, 191);
    padding: 10px;
    margin: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 8px -8px 8px rgb(86, 77, 77);
}
.dishes{
    display: block;
    text-align: center;
    margin: 50px;
    border: 4px solid red;
    background:rgb(125, 229, 238);
    box-shadow: 8px -8px 8px rgb(88, 77, 77);
}
.dishes button{
    font-size: 25px;
    background: rgb(239, 189, 64);
    margin: 10px;
    font-weight: bold;
    padding: 5px;

}


    
