
body{
    display: flex;
    justify-content: center;
}

.recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    max-width: 100%;
    border: 1px solid black;
}

h1 {color:darkgreen;
    font-size: 6vw;
    font-weight: 900;
    font-style: italic;
    font-family:Verdana, Geneva, Tahoma;
    padding: 10px;
    margin: 40px;
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 3 auto;
    border: 1px solid black;
    text-shadow: 6px 6px 4px black;
    box-shadow: 6px -6px 4px rgb(59, 58, 58);
}
.background{
    width: 95%;
    margin: 20px;
    padding: 20px;
    background-image: url('./recipes/images/background4.jpg');
    background-size:cover;
    background-position: center;
    flex: 0 2 auto;
    
}
.content {
    background: rgba(1, 1, 1, 0.186);
    margin: 10px;
    display: flex;
    justify-content: center;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 8px -8px 8px rgb(66, 62, 62);
    border-radius: 10px;
    border-style: double;
    width: 95%;
    flex: 0 2 auto;
}
img{
    border: 1px solid black;
    margin: 10px;
    width: 15vw;
    height: auto;
    box-shadow: 2px -2px 8px black;
    flex: auto;
}
p {
    color: rgb(23, 23, 23);
    font-size: 1rem;
    border: 2px solid darkcyan;
    border-left: 25px solid darkcyan;
    border-radius: 15px 0px 0px 15px;
    padding: 15px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
    box-shadow: 8px -8px 8px rgb(86, 77, 77);
    column-count: 2;
    column-rule: 3px outset rgb(168, 167, 167);
    column-gap: 30px;
    text-align: justify;
    min-width: 340px;
    line-height: 1.4;
}
p::first-letter{
    font-size: 3rem;
    color: darkorange;
    font-weight: 700;
    text-shadow: 1px 1px 4px black;
}
.dishes{
    display: block;
    text-align: center;
    margin: 50px;
    border: 1px solid darkblue;
    box-shadow: 8px -8px 8px rgb(88, 77, 77);
}
.dishes button{
    font-size: 20px;
    background: rgb(64, 239, 178);
    margin: 10px;
    padding: 5px;
    border-radius: 8px;

}


    
